.rd_block_list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.rd_block_list li{
    list-style: none;
    padding: 0 0 8px 0;
}
.rd_block_list li .description{
    font-size: 0.9em;
    display: block;
    line-height: 150%;
}
.rd_block_list li .info{
    font-size: 0.9em;
    display: block;
    padding: 2px 0;
    color: #666;
}
