.docs-block-list li .description{
    font-size: 0.9em;
    display: block;
    line-height: 150%;
}
.docs-block-list li .info{
    font-size: 0.9em;
    display: block;
    padding: 2px 0;
    color: #666;
}
