#form-figures .info{
    display: block;
    font-size: 0.9em;
}
#form-figures .resource{
    display: block;
    font-size: 1.2em;
    padding: 4px 0;
    border-bottom: 2px solid #CCC;
}
.error{
    display: none;
    padding: 2px 0;
    font-size: 0.9em;
    color: #f00;
}