/*!
Documentor for XOOPS and Common Utilities.
A module to create books, sections and other resources
Copyright © 2013 - 2015 Eduardo Cortes
Author:   Eduardo Cortes (AKA bitcero) <http://eduardocortes.mx>
URL:      http://redmexico.com.mx
URL:      http://rmcommon.com
License:  GPL 2
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:700,400);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,400italic,700,700italic);

@import 'includes/variables';

html,
body {
  height: 100%
}
body {
  font-family: 'Open Sans';
  font-size: 16px;
  color: #454545;
  background: #fff;
  padding-top: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Droid Serif';
  font-weight: 700
}



table{

  border: 1px solid rgba(0,0,0,0.1);
  font-size: 0.85em;
  margin: 10px 0;

  th{
    font-weight: bold;
    padding: 8px 8px;
    border-bottom: 2px solid rgba(0,0,0,0.15);
    text-transform: uppercase;
    font-size: 0.8em;
    background-color: rgba(0,0,0,0.03);
  }

  td{
    padding: 6px 8px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-family: monospace;
    vertical-align: top;
  }
}
.btn {
  border-radius: 2px
}
.standalone-container {
  margin-top: 30px
}
.standalone-container .book-cover {
  padding: 8px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #d4d4d4;
  margin-bottom: 20px;
  max-width: 300px
}
@media (min-width: 700px) {
  .standalone-container .book-cover {
    max-width: 100%
  }
}
.standalone-container .book-title {
  margin: 0;
  color: #000
}
.standalone-container .owner {
  text-transform: uppercase;
  font-size: .9em;
  margin: 0
}
.standalone-container .owner a {
  font-weight: 700
}
.standalone-container .contributors {
  font-size: .9em;
  font-style: italic;
  color: #666;
  margin: 0
}
.standalone-container .tagline {
  font-size: 1.2em;
  margin-top: 20px
}
.standalone-container .meta {
  position: relative;
  margin-top: 30px;
  font-size: .9em;
  line-height: 1.1
}
.standalone-container .meta:after {
  content: '';
  display: block;
  clear: both
}
.standalone-container .meta .column {
  width: 50%;
  float: left;
  margin-bottom: 30px
}
.standalone-container .meta .column label {
  display: block;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 12px
}
@media (min-width: 1000px) {
  .standalone-container .meta .column {
    width: 25%
  }
}
article p,
article ol,
article ul {
  line-height: 1.5;
  margin-bottom: 1.4em
}
article li{
  line-height: 1.5;
}
.docs-document {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden
}
#docs-resource-index {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  background: #fafafa;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  padding: 0 0 40px 0;
  -webkit-transition: ease-in-out all 250ms;
  transition: ease-in-out all 250ms;
  -webkit-transform: translate(-280px);
  -ms-transform: translate(-280px);
  transform: translate(-280px);

  > .quick-search{
    padding: 9px 20px 10px;
  }

  > .no-results{
    padding: 15px;
    background-color: #FF3333;
    color: #FFF;
    display: none;
  }

  ul {

    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;

    &.docs-index{
      > li > a{
        display: block;
        line-height: 2.5;
        width: 100%;

        @media(min-width: 990px){
          line-height: 1.6;
        }

      }
    }

    a {
      color: #333;
      text-decoration: none;
      padding: 5px 15px;
      display: block
    }

    .docs-index li a {
      padding: 0 15px
    }

    li:hover {
      background-color: rgba(0, 0, 0, 0.05)
    }

  }

}

#docs-resource-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease
}
.docs-content-article {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto
}
@media (min-width: 800px) {
  .docs-content-article {
    font-size: 18px
  }
}
.docs-content-article {
  text-align: left
}
.docs-content-article .docs-content-wrapper {
  position: relative;
  outline: 0
}
.docs-content-article .docs-content-wrapper .docs-content-inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 20px 40px 20px;

  img{
    max-width: 100%;
  }

  > section{
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}

.docs-content-header {
  font-family: "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: visible;
  height: 50px;
  padding: 0;
  z-index: 2;
  font-size: .85em;
  color: #7e888b;
  background: transparent
}
.docs-content-header .btn {
  display: inline-block;
  height: 50px;
  padding: 0 15px;
  border-bottom: 0;
  color: #ccc;
  text-transform: uppercase;
  line-height: 50px !important;
  box-shadow: none !important;
  position: relative;
  font-size: 14px;
  -webkit-transition: ease all 250ms;
  transition: ease all 250ms;
  border-radius: 0
}
.docs-content-header .btn>.fa {
  line-height: 50px
}
.docs-content-header .btn:hover {
  color: #666
}
.docs-content-header .btn.book-title {
  font-weight: 700;
  font-size: 1.2em;
  text-transform: none
}
.docs-content-header-title {
  padding: 10px;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 700
}
.document-navigation a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 40px;
  color: #ccc;
  text-align: center;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  float: none;
  bottom: 0;
  margin: 0;
  width: 50%;
  text-decoration: none;
}
.document-navigation a.previous {
  left: 0;
  -webkit-transition: ease all 250ms;
  transition: ease all 250ms;
  float: left
}
.document-navigation a.next {
  right: 0;
  -webkit-transition: ease all 250ms;
  transition: ease all 250ms;
  float: right
}
.document-navigation a.previous:hover,
.document-navigation a.next:hover {
  color: #333;
  text-decoration: none;
}
@media (min-width: 700px) {
  .document-navigation a {
    position: absolute;
    top: 50px;
    max-width: 150px;
    min-width: 90px
  }
  .document-navigation a.next,
  .document-navigation a.previous {
    float: none
  }
}
html.with-index #docs-resource-index {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0)
}
@media (max-width: 699px) {
  html.with-index #docs-resource-content {
    -webkit-transform: translateX(280px);
    -ms-transform: translateX(280px);
    transform: translateX(280px)
  }
}
@media (min-width: 700px) {
  html.with-index #docs-resource-content {
    left: 280px
  }
}
html.with-index .toggle-summary {
  background: #ebebeb;
  color: #666
}
html.align-left .docs-content-article {
  text-align: left
}
html.align-left a[data-align='left'] {
  color: #666
}
html.align-center .docs-content-article {
  text-align: center
}
html.align-center a[data-align='center'] {
  color: #666
}
html.align-justify .docs-content-article {
  text-align: justify
}
html.align-justify a[data-align='justify'] {
  color: #666
}
@media (max-width: 699px) {
  html.align-justify h1,
  html.align-justify h2,
  html.align-justify h3,
  html.align-justify h4,
  html.align-justify h5,
  html.align-justify h6 {
    text-align: left
  }
}

/*
------------------------
NOTES AND REFERENCES
------------------------
*/
.note-link{
  padding: 1px 6px;
  background-color: @azure;
  color: #FFF;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 15px;

  &:hover, &:active, &:focus{
    background-color: @orange;
    color: #FFF;
    text-decoration: none;
  }

}

#notes-and-references{
  font-size: 0.7em;

  h4{
    font-family: @font-sans;
    font-size: 14px;
    text-transform: uppercase;
  }

  ol{
    li{
      padding: 3px;

      &.note-touched{
        border: 1px dotted @azure;
        border-radius: 3px;
      }
    }
  }
}

/* Monospaced Block */
.docs-monospaced{
  display: block;
  padding: 15px;
  font-size: 1.1em;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid rgba(0,0,0,0.1);
}


/*
THEME MAVERICK
*/
html.theme-maverik{

  a {
    color: #ef553a;

    &:hover {
      color: #37444e
    }

  }

  .docs-content-header-title {
    background: #ef553a;
    color: #fff
  }

  .btn-primary {
    background: #37444e;
    color: #fff;

    &:hover {
      color: #ef553a;
    }

  }

  .standalone-container .owner a {
    color: #ef553a;
  }

  #docs-resource-index {
    background: #ef553a;
    color: #fff;

    a {
      color: #fff
    }

    li:hover {
      background-color: rgba(255, 255, 255, 0.1)
    }

  }

  .docs-content-header {
    background: #37444e;
    color: #7c92a2;

    .btn {
      color: #7c92a2;

      &.btn:hover {
        color: #fff
      }

    }

  }

  .docs-content-article{
    header+p:first-letter {
      background: #ef553a !important
    }
  }

  &.with-index .toggle-summary {
    background: #ef553a;
    color: #fff
  }

  &.align-left a[data-align='left'] {
    color: #ef553a
  }

  &.align-center a[data-align='center'] {
    color: #ef553a
  }

  &.align-justify a[data-align='justify'] {
    color: #ef553a
  }

  .note-link{
    padding: 1px 6px;
    background-color: @orange;
    color: #FFF;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 15px;

    &:hover, &:active, &:focus{
      background-color: @midnight;
      color: #FFF;
      text-decoration: none;
    }

  }

  .docs-monospaced{
    color: @orange;
  }

}

html.theme-maverik-inverted{

  .note-link{
    padding: 1px 6px;
    background-color: @midnight;
    color: #FFF;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 15px;

    &:hover, &:active, &:focus{
      background-color: @orange;
      color: #FFF;
      text-decoration: none;
    }

  }

  .docs-monospaced{
    color: @orange;
  }


}

html.theme-maverik-inverted a {
  color: #ef553a
}
html.theme-maverik-inverted a:hover {
  color: #37444e
}
html.theme-maverik-inverted .docs-content-header-title {
  background: #37444e;
  color: #fff
}
html.theme-maverik-inverted .btn-primary {
  background: #ef553a;
  color: #fff;
  border-color: #ed4122
}
html.theme-maverik-inverted .btn-primary:hover {
  background: #37444e;
  color: #fff
}
html.theme-maverik-inverted .standalone-container .owner a {
  color: #37444e
}
html.theme-maverik-inverted #docs-resource-index {
  background: #37444e;
  color: #fff
}
html.theme-maverik-inverted #docs-resource-index a {
  color: #fff
}
html.theme-maverik-inverted #docs-resource-index li:hover {
  background-color: #ef553a
}
html.theme-maverik-inverted .docs-content-header {
  background: #ef553a;
  color: #facfc8
}
html.theme-maverik-inverted .docs-content-header .btn {
  color: #facfc8
}
html.theme-maverik-inverted .docs-content-header .btn:hover {
  color: #fff
}
html.theme-maverik-inverted .docs-content-article header+p:first-letter {
  background: #37444e !important
}
html.theme-maverik-inverted.with-index .toggle-summary {
  background: #37444e;
  color: #fff
}
html.theme-maverik-inverted.align-left a[data-align='left'] {
  color: #37444e
}
html.theme-maverik-inverted.align-center a[data-align='center'] {
  color: #37444e
}
html.theme-maverik-inverted.align-justify a[data-align='justify'] {
  color: #37444e
}


/*
AZURE THEME
*/
html.theme-azure{

  .note-link{
    padding: 1px 6px;
    background-color: @azure;
    color: #FFF;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 15px;

    &:hover, &:active, &:focus{
      background-color: @midnight;
      color: #FFF;
      text-decoration: none;
    }
  }

  .docs-monospaced{
    color: @azure;
  }


}

html.theme-azure a {
  color: #2685ee
}
html.theme-azure a:hover {
  color: #37444e
}
html.theme-azure .docs-content-header-title {
  background: #37444e;
  color: #fff
}
html.theme-azure .btn-primary {
  background: #37444e;
  color: #fff
}
html.theme-azure .btn-primary:hover {
  background: #2685ee;
  color: #fff;
  border-color: #1278e8
}
html.theme-azure .standalone-container .owner a {
  color: #37444e
}
html.theme-azure #docs-resource-index {
  background: #37444e;
  color: #fff
}
html.theme-azure #docs-resource-index a {
  color: #fff
}
html.theme-azure #docs-resource-index li:hover {
  background-color: #2685ee
}
html.theme-azure .docs-content-header {
  background: #2685ee;
  color: #b4d5f9
}
html.theme-azure .docs-content-header .btn {
  color: #b4d5f9
}
html.theme-azure .docs-content-header .btn:hover {
  color: #fff
}
html.theme-azure .docs-content-article header+p:first-letter {
  background: #37444e !important
}
html.theme-azure.with-index .toggle-summary {
  background: #37444e;
  color: #fff
}
html.theme-azure.align-left a[data-align='left'] {
  color: #fff
}
html.theme-azure.align-center a[data-align='center'] {
  color: #fff
}
html.theme-azure.align-justify a[data-align='justify'] {
  color: #fff
}


/*
THEME AZURE INVERTED
*/
html.theme-azure-inverted{

  .note-link{
    padding: 1px 6px;
    background-color: @midnight;
    color: #FFF;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 15px;

    &:hover, &:active, &:focus{
      background-color: @azure;
      color: #FFF;
      text-decoration: none;
    }

    .docs-monospaced{
      color: @azure;
    }


  }

}
html.theme-azure-inverted a {
  color: #2685ee
}
html.theme-azure-inverted a:hover {
  color: #37444e
}
html.theme-azure-inverted .docs-content-header-title {
  background: #2685ee;
  color: #fff
}
html.theme-azure-inverted .btn-primary {
  background: #2685ee;
  color: #fff;
  border-color: #1278e8
}
html.theme-azure-inverted .btn-primary:hover {
  background: #37444e;
  color: #fff
}
html.theme-azure-inverted .standalone-container .owner a {
  color: #2685ee
}
html.theme-azure-inverted #docs-resource-index {
  background: #2685ee;
  color: #fff
}
html.theme-azure-inverted #docs-resource-index a {
  color: #fff
}
html.theme-azure-inverted #docs-resource-index li:hover {
  background-color: #37444e
}
html.theme-azure-inverted .docs-content-header {
  background: #37444e;
  color: #7c92a2
}
html.theme-azure-inverted .docs-content-header .btn {
  color: #7c92a2
}
html.theme-azure-inverted .docs-content-header .btn:hover {
  color: #fff
}
html.theme-azure-inverted .docs-content-article header+p:first-letter {
  background: #2685ee !important
}
html.theme-azure-inverted.with-index .toggle-summary {
  background: #2685ee;
  color: #fff
}
html.theme-azure-inverted.align-left a[data-align='left'] {
  color: #fff
}
html.theme-azure-inverted.align-center a[data-align='center'] {
  color: #fff
}
html.theme-azure-inverted.align-justify a[data-align='justify'] {
  color: #fff
}


/*
THEME SWEET
*/
html.theme-sweet{

  .note-link{
    padding: 1px 6px;
    background-color: @gray-blue;
    color: #FFF;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 15px;

    &:hover, &:active, &:focus{
      background-color: @purple;
      color: #FFF;
      text-decoration: none;
    }

  }

  .docs-monospaced{
    color: @purple;
  }


}
html.theme-sweet a {
  color: #9358ac
}
html.theme-sweet a:hover {
  color: #7a869c
}
html.theme-sweet .docs-content-header-title {
  background: #7a869c;
  color: #fff
}
html.theme-sweet .btn-primary {
  background: #9358ac;
  color: #fff;
  border-color: #854e9d
}
html.theme-sweet .btn-primary:hover {
  background: #7a869c;
  color: #fff;
  border-color: #6c7991
}
html.theme-sweet .standalone-container .owner a {
  color: #7a869c
}
html.theme-sweet #docs-resource-index {
  background: #7a869c;
  color: #d2d6dd
}
html.theme-sweet #docs-resource-index a {
  color: #fff
}
html.theme-sweet #docs-resource-index li:hover {
  background-color: rgba(255, 255, 255, 0.1)
}
html.theme-sweet .docs-content-header {
  background: #9358ac;
  color: #d5bedf
}
html.theme-sweet .docs-content-header .btn {
  color: #d5bedf
}
html.theme-sweet .docs-content-header .btn:hover {
  color: #fff
}
html.theme-sweet .docs-content-article header+p:first-letter {
  background: #7a869c !important
}
html.theme-sweet.with-index .toggle-summary {
  background: #a97abd;
  color: #fff
}
html.theme-sweet.align-left a[data-align='left'] {
  color: #fff
}
html.theme-sweet.align-center a[data-align='center'] {
  color: #fff
}
html.theme-sweet.align-justify a[data-align='justify'] {
  color: #fff
}


/*
THEME EVER GREEN
*/
html.theme-ever-green{
  .note-link{
    padding: 1px 6px;
    background-color: @green;
    color: #FFF;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 15px;

    &:hover, &:active, &:focus{
      background-color: @tangerine;
      color: #FFF;
      text-decoration: none;
    }

  }

  .docs-monospaced{
    color: green;
  }

}
html.theme-ever-green body {
  background: #ebeef0
}
html.theme-ever-green .docs-content-header-title {
  background: #f0934e;
  color: #fff;
  border-top: 1px solid #fff
}
html.theme-ever-green a {
  color: #ec761f
}
html.theme-ever-green a:hover {
  color: #81c04d
}
html.theme-ever-green .btn-primary {
  background: #81c04d;
  color: #fff;
  border-color: #74b440
}
html.theme-ever-green .btn-primary:hover {
  background: #f0934e;
  border-color: #ee8536;
  color: #fff
}
html.theme-ever-green .standalone-container .owner a {
  color: #f0934e
}
html.theme-ever-green #docs-resource-index {
  background: #f0934e;
  color: #fff
}
html.theme-ever-green #docs-resource-index a {
  color: #fff
}
html.theme-ever-green #docs-resource-index li:hover {
  background-color: rgba(255, 255, 255, 0.1)
}
html.theme-ever-green .docs-content-header {
  background: #81c04d;
  color: #d1e8be
}
html.theme-ever-green .docs-content-header .btn {
  color: #d1e8be
}
html.theme-ever-green .docs-content-header .btn:hover {
  color: #fff
}
html.theme-ever-green .docs-content-article header+p:first-letter {
  background: #81c04d !important
}
html.theme-ever-green.with-index .toggle-summary {
  background: #f0934e;
  color: #fff
}
html.theme-ever-green.align-left a[data-align='left'] {
  color: #fff;
  background-color: #9ccd73
}
html.theme-ever-green.align-center a[data-align='center'] {
  color: #fff;
  background-color: #9ccd73
}
html.theme-ever-green.align-justify a[data-align='justify'] {
  color: #fff;
  background-color: #9ccd73
}


/*
Theme Midnight
*/
html.theme-midnight{
  .note-link{
    padding: 1px 6px;
    background-color: @green;
    color: #FFF;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 15px;

    &:hover, &:active, &:focus{
      background-color: @orange;
      color: #FFF;
      text-decoration: none;
    }

  }
}
html.theme-midnight body {
  background: #37444e;
  color: #b7c3cd
}
html.theme-midnight a {
  color: #81c04d
}
html.theme-midnight a:hover {
  color: #fff
}
html.theme-midnight .docs-content-header-title {
  background: #81c04d;
  color: #fff
}
html.theme-midnight .btn-primary {
  background: #f0934e;
  color: #fff;
  border-color: #ee8536
}
html.theme-midnight .btn-primary:hover {
  background: #ef553a;
  color: #fff
}
html.theme-midnight .standalone-container .owner a {
  color: #ef553a
}
html.theme-midnight #docs-resource-index {
  background: #ef553a;
  color: #f7a698
}
html.theme-midnight #docs-resource-index a {
  color: #fef8f7
}
html.theme-midnight #docs-resource-index li:hover {
  background-color: #37444e
}
html.theme-midnight .docs-content-header {
  background: #37444e;
  color: #61788a
}
html.theme-midnight .docs-content-header .btn {
  color: #61788a
}
html.theme-midnight .docs-content-header .btn:hover {
  color: #fff
}
html.theme-midnight .docs-content-article header+p:first-letter {
  background: #fff !important;
  color: #37444e !important
}
html.theme-midnight.with-index .toggle-summary {
  background: #ef553a;
  color: #fff
}
html.theme-midnight.align-left a[data-align='left'] {
  color: #81c04d
}
html.theme-midnight.align-center a[data-align='center'] {
  color: #81c04d
}
html.theme-midnight.align-justify a[data-align='justify'] {
  color: #81c04d
}

@import "includes/theme-thedocs";