.rd_res_description{}

#rd-toc{
    list-style: none;
    padding: 0 0 0 10px;
}
#rd-toc li{
    list-style: none;
}

.section-title{
    margin: 0 0 10px 0;
}
.doc-section{
    margin-bottom: 25px;
}
.doc-section.is-header > header{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.rd_item_options{
    font-size: 0.9em;
}
.rd_notes{
    padding: 10px 0 0 0;
    margin: 10px 0 0 0;
    border-top: 1px solid #CCC;
}
.rd_notes ol{
    font-size: 0.9em;
}
.rd_nav_links{
    border-top: 1px solid #CCC;
    padding: 5px 0;
    margin: 10px 0 3px 0;
    font-size: 0.9em;
    overflow: hidden;
}
.rd_nav_links .left{
    float: left;
    display: block;
}
.rd_nav_links .right{
    float: right;
    display: block;
}
.rd_nav_links .rd_toc{
    display: block;
    clear: both;
    padding: 4px 0 2px 0;
    text-align: center;
}
.rd_section_data{
    padding: 2px 0;
    font-size: 0.9em;
    overflow: hidden;
}
.rd_section_data .left{
    float: left;
}
.rd_section_data .right{
    float: right;
    text-align: right;
}
/** TOC **/
.rd_toc_section{
    border: 1px solid #CCC;
    padding: 15px;
    float: left;
    margin: 10px 0;
}
.rd_toc_section h3{
    margin: 0 0 10px 0;
}
.rd_toc_section ul{
    list-style: none;
    padding: 0;
}
/** Figures **/
.docs-figure{
    font-size: 0.9em;
    max-width: 100%!important;
    text-align: left;
}
.docs-figure.center{
    margin: 10px auto;
}
.docs-figure.left{
    float: left;
    margin: 5px 10px 5px 0;
}
.docs-figure.right{
    float: right;
    margin: 10px 0 10px 10px;
}
.docs-figure > .thumbnail > img{
    border: 1px solid rgba(0,0,0,0.1);
}
.docs-figure > .thumbnail > .caption{
    padding: 4px;
    text-align: left;
}
.docs-figure.center > .thumbnail > .caption{
    padding: 4px;
    text-align: center;
}
.docs-figure > .thumbnail > .caption-content{
    background: rgba(0,0,0,0.05);
}

/** Search **/
.rd_search_item{
    padding: 8px;
    border-bottom: 1px dotted #CCC;
}
.rd_search_item h4{
    margin: 0 0 3px 0;
    padding: 0;
    font-size: 1.3em;
}
.rd_search_item .rd_info{
    font-size: 0.85em;
    display: block;
    padding: 2px 0;
}

/** Header **/
.rmc_pages_navigation_container{
    margin: 10px 0;
}

