@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
article p{
    line-height: 25px;
}

#docs-resource-index{
    position: fixed;
    top: 0; left: 0; bottom: 0;
    width: 300px;
    background: #fafafa;
    border-right: 1px solid rgba(0,0,0,0.08);
    padding: 20px 0 40px 0;
}
#docs-resource-index a{
    color: #333;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
}
#docs-resource-index .docs-index li a{
    padding: 0 15px;
}
#docs-resource-index li:hover{
    background-color: rgba(0,0,0,0.05);
}

#docs-resource-content{
    position: absolute;
    top: 0;
    right: 0;
    left: 300px;
    bottom: 0;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
}
.docs-content-article{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}
.docs-content-article .docs-content-wrapper {
    position: relative;
    outline: 0;
}
.docs-content-wrapper .docs-content-inner{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0 40px 0;
}
.docs-content-header{
    font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow: visible;
    height: 50px;
    padding: 0 8px;
    z-index: 2;
    font-size: .85em;
    color: #7e888b;
    background: transparent;
}
.docs-content-header .btn {
    display: inline-block;
    height: 50px;
    padding: 0 15px;
    border-bottom: 0;
    color: #ccc;
    text-transform: uppercase;
    line-height: 50px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    position: relative;
    font-size: 14px;
    transition: ease all 250ms;
}
.docs-content-header .btn:hover{
    color: #666;
}
.docs-content-header .btn > .fa{
    line-height: 50px;
}

.document-navigation a{
    position: absolute;
    top: 50px;
    bottom: 0;
    margin: 0;
    max-width: 150px;
    min-width: 90px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 40px;
    color: #ccc;
    text-align: center;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
    float: none;
}
.document-navigation .previous{
    left: 0;
    transition: ease all 250ms;
}
.document-navigation .next{
    right: 0;
    transition: ease all 250ms;
}
.document-navigation .previous:hover,
.document-navigation .next:hover{
    color: #333;
}